.movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex: 1 1 50%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 1em;
  align-self: flex-start;
}
